*{
margin: 0;
padding: 0;

  font-family: "Eczar", serif;
}
body{
    
}

h1 {
    font-size: 48px;
    padding: 20px;
    padding-top: 30px;
    color: rgba(11, 11, 173, 0.9);
    
}

h2{
  display: flex;
  
  justify-content: space-around;
  padding-bottom: 20px;
  color: rgba(12, 12, 84, 0.834) ; 
  
}
.heading{
text-align: center;
padding-bottom: 50px;
}
.pasta{
    display: flex; 
    align-items: center;
    justify-content: center;
}
legend{
padding-left: 10%;
}
p{
    
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px; 
    color: rgba(12, 12, 84, 0.834) ; 
}
p:hover{
    translate: 10px;
    transition: all 400ms;
}
h3{
   padding: 20px;
   text-align: center;
   font-size:35px;
   color: rgba(11, 11, 173, 0.667)
}
h3:hover{
    transform: scale(1.03);
    
    transition: all 400ms;
    

}

li{
    
    align-items: center;
    display: flex;
   list-style: circle;
   line-height: 35px;
   color: rgba(12, 12, 84, 0.834) ; 
   

}
li:hover{
    transform: scale(1.03);
    font-weight: 700;
    transition: all 400ms;
  cursor: pointer;

    
}

legend{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-weight: lighter;
    font-style: oblique;
}
.info{
    display: flex;
   padding: 30px;
justify-content: space-around;
}
.rating{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bytag{
    padding: 20px;
    font-size: x-large;
    
}

.ingridients{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
}

.step{
    font-weight: 500;
    font-size: 24px;
    padding: 0;
    color: rgba(11, 11, 173, 0.667) ;
    
}
.step:hover{
    transform: scale(1.03);
    font-weight: 900;
    transition: all 400ms;

}
.prep{
    display: inline-block;
}
.preparation{
    padding: 20px;
    
}
img{
    border-radius: 8px;
    
}
img:hover{
    border-radius: 10px;
    transform: scale(1.03);
    transition: all 400ms;
}
