*{
margin: 0;
padding: 0;
font-family: Roboto;

}
h1 {
    font-size: 48px;
    padding: 10px;
    font-family: 'Protest Revolution', sans-serif;
}
h2{
  display: flex;
  
  justify-content: space-around;
  padding-bottom: 20px;
  
}
.heading{
text-align: center;
padding-bottom: 50px;
}
.pasta{
    display: block; 
    padding-left: 10%;
    padding-bottom: 50px;
   
    
}
legend{
padding-left: 10%;
}
p{
    
    text-align: center;
    font-size: 18px;
   font-style: oblique;

    
}
.prep{
    padding:10px;
}
h3{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}
ul{
    padding-left: 50px;
    padding-bottom: 20px;
    font-weight: bold;
    
    
}
li{
    padding-bottom: 15px;
}
.dada{
    font-size: 25px;
}
.pp{
    padding-bottom: 20px;
}